resources:
- name: allow-varnish-tomcat
  type: firewall.jinja
  properties:
    network: {{ properties["network"] }}
    sourceTags: ["varnish"]
    targetTags: ["tomcat"]
    allowed:
      - IPProtocol: TCP
        ports: [ 8080 ]
