resources:
- name: {{ env["name"] }}
  type: firewall.jinja
  properties:
    network: {{ properties["network"] }}
    sourceRanges:
    - 104.196.13.6/32 # jenkins-slave-hd-www-dev
    - 104.196.45.188/32 # jenkins-slave-hd-www-stage
    - 104.196.20.69/32  # cicd-runner-hd-build
    - 104.196.97.169/32 # cicd-runner-hd-engineering
    - 104.196.99.58/32  # cicd-runner-hd-engineering-dev
    - 104.196.98.175/32 # cicd-runner-hd-www-dev
    - 104.196.45.33/32 # cicd-runner-hd-www-dev
    - 104.196.124.172/32 # cicd-runner-hd-www-dev-internal
    - 104.196.60.97/32 # cicd-runner-hd-www-stage-internal
    - 104.196.39.3/32  # cicd-runner-hd-www-stage
    - 104.196.108.12/32  # cicd-runner-hd-www-prod
    - 104.196.105.36/32  # cicd-runner-hd-www-prod-internal
    {% if properties["targetTags"] %}targetTags: {{ properties["targetTags"] }}{% endif %}
    allowed: {{ properties["allowed"] }}
